@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
  --color-ny-dark: #1e1e1e;
  --color-taxi: #facc15;
  --color-taxi-hover: #fcd34d;
  --color-text-light: #f9fafb;
  --color-text-dark: #111827;
  --color-scrap-pink: #f472b6;
  --color-scrap-blue: #3b82f6;
  --color-scrap-green: #10b981;
  --color-scrap-purple: #8b5cf6;
  --color-scrap-orange: #f97316;
  --color-paper: #f8f9fa;
  --color-paper-shadow: #e9ecef;
  --color-bg-main: #f1f3f4;
}

/* Polices personnalisées */
.font-handwriting {
  font-family: 'Caveat', cursive;
}

.font-body {
  font-family: 'Poppins', sans-serif;
}